<div class="search-backdrop" {{action 'onPullUpClose'}}></div>
<div class="search-container">
  <div class="search-header">
    <div class="search-pullup-close" {{action 'onPullUpClose'}}>
      {{gru-icon name="arrow_downward"}}
    </div>
    <div class="search-filter-container">
      <span class="ellipsis" {{action 'toggleMenuList'}}>{{t selectedMenuItem.label }}</span>
      <span {{action 'toggleMenuList'}}>{{gru-icon name="arrow_drop_down"}}</span>
      <div class="search-filter-container-list {{if isMenuEnabled 'active'}}">
        {{#each menuItems as |item|}}
          <p {{action 'onChooseMenuItem' item}} class="{{if item.selected 'selected'}}">{{t item.label}}</p>
        {{/each}}
      </div>
    </div>
    {{#if (or (eq selectedMenuName 'catalog') (and (not showTenantLibraries) (eq selectedMenuName 'tenantLibrary')) (eq selectedMenuName 'myContent'))}}
      <div class="search-right-menu">
        <div class="search-input-container">
          {{input type="text"
          placeholder=(t "common.search-placeholder")
          spellcheck="true"
          id="search-content"
        }}
          <div class="filter-items">
            {{#each filters as |selectedFilter index|}}
              <div class="filter-item">
                <span class="name ellipsis" data-toggle="tooltip" title={{selectedFilter.name}}>{{selectedFilter.name}}</span>
                <span class="clear" {{action 'clearFilter' selectedFilter}}> {{gru-icon name="close"}}</span>
              </div>
            {{/each}}
            {{#if moreFilters}}
              <span class="more-pointer">+{{moreFilters.length}}</span>
            {{/if}}
            <div class="more-filters hidden">
              {{#each moreFilters as |moreFilter|}}
                <div class="filter-item">
                  <span class="name ellipsis" data-toggle="tooltip" title={{moreFilter.name}}>{{moreFilter.name}}</span>
                  <span class="clear" {{action 'clearFilter' moreFilter}}> {{gru-icon name="close"}}</span>
                </div>
              {{/each}}
            </div>
          </div>
          <label for="search-content" class="search-icon" {{action 'doSearch'}}>
            {{gru-icon name="search"}}
          </label>
        </div>
        {{#if showFilter}}
          <div class="search-filter-icon" {{action 'toggleSearchFilter'}}>
            {{gru-icon name="filter_list"}}
          </div>
        {{/if}}
      </div>
    {{/if}}
  </div>
  {{#if (eq selectedMenuName 'courseMap')}}
    <div class="ca-course-map-container">
      {{teacher/class/ca-course-map
        onAddContentToDCA="onAddContentToDCA"
        onScheduleContentToDCA="onScheduleContentToDCA"
        classId=classId
        courseId=courseId
        todaysClassActivities=todaysClassActivities
      }}
    </div>
  {{else}}
    {{#unless showTenantLibraries}}
      <div class="search-content-type-filter">
        <div class="filter-content-types">
          {{#each filterContentType as |contentType|}}
            <div class="filter-item {{contentType.format}} {{if (eq contentType.format activeContentType) 'active' }}" {{action 'onSelectFilterBy' contentType.format}}>
              <i></i>
              <span>{{t contentType.label}}</span>
            </div>
          {{/each}}
          {{#if isClassPreferenceMapped}}
            <span class="create-offline-activity" title="{{t 'teacher-landing.class.class-activities-tab.create-external-collection'}}" data-toggle="tooltip" {{action "onClickCreateOfflineActivity"}}>{{gru-icon name="add"}}</span>
          {{/if}}
        </div>
        {{#if showFilter}}
          {{search/search-by-filter
          isShow=isShow
          onFilterApply="doSearch"
          hideAppScroll=false
          unCheckedItem=unCheckedItem
          preference=class.preference
          selectedFilters=selectedFilters}}
        {{/if}}
      </div>
      {{#if selectedTenantLibrary}}
        <div class="selected-tenant-library">
          <div class="back" {{action 'goBackToTenantLibraries'}}>
            {{gru-icon name="arrow_back"}}
          </div>
          <img class="image" src="{{selectedTenantLibrary.image}}" alt="collection thumbnail"/>
          <div class="library-name">{{selectedTenantLibrary.name}}</div>
        </div>
      {{/if}}
      <div class="search-list-container {{if selectedTenantLibrary 'show-tenant-library'}} {{if isShowListView 'list-view' 'grid-view'}}">
        {{#if (gt searchResults.length 0)}}
          <div class="search-list">
            {{#each searchResultSet as |result|}}
              {{cards/dca-search-collection-card
              onPreviewContent="onPreviewContent"
              onScheduleContentToDCA='onScheduleContentToDCA'
              collection=result contentType=activeContentType
              onAddContentToDCA="onAddContentToDCA"
              addedScheduleContentToDCA='addedScheduleContentToDCA'
              classId=classId}}
            {{/each}}
          </div>
        {{else}}
          {{#unless isLoading}}
            {{cards/no-suggest-result-found isFromSearch=true}}
          {{/unless}}
        {{/if}}
      </div>
    {{else}}
      <div class="tenant-libraries">
        <div class="libraries-container">
          {{#each libraries as |library|}}
            {{library/gru-partner-library-card onSelectLibrary='onSelectLibrary' content=library}}
          {{else}}
            <div class="loading-spinner">
              {{three-bounce-spinner}}
            </div>
          {{/each}}
        </div>
      </div>
    {{/unless}}
  {{/if}}
</div>
{{#if isLoading}}
  <div class="loading-spinner">
    {{three-bounce-spinner}}
  </div>
{{/if}}
<div class="ca-datepicker-schedule-container ca-datepicker-popover-container">
  {{ca-daterange-datepicker
      closeDatePicker='onCloseDatePicker'
      onScheduleForDate='onScheduleDate'
      onScheduleForMonth='onScheduleForMonth'
      endDate=endDate
      allowTwoDateRangePicker=allowTwoDateRangePicker}}
</div>
{{#if isShowCreateOfflineActivity}}
  {{activity/gru-new-offline-activity
    class=class
    isShowPullUp=isShowCreateOfflineActivity
    classPreference=classPreference
    classId=classId
    onAddExternalCollectionToDCA="onAddExternalCollectionToDCA"}}
{{/if}}