<div class="backdrop" {{action 'onPullUpClose' true}}></div>
<div class="free-response-question-grade-container">
  <div class="frq-grade-header">
    <div class="frq-grade-breadcrumb hidden-xs {{if isDCAContext 'dca-context'}}">
      <div class="unit-title">
        <i class="unit-icon"></i>
        <p>{{t 'common.unit'}} {{unless isHideLessonNumber unit.sequence ''}} : {{unit.title}}</p>
      </div>
      <div class="lesson-title">
        {{gru-icon name="keyboard_arrow_right"}}
        <i class="lesson-icon"></i>
        <p>{{t 'common.lesson'}} {{unless isHideLessonNumber lesson.sequence ''}} : {{lesson.title}}</p>
      </div>
      <div class="collection-title">
        {{gru-icon name="keyboard_arrow_right"}}
        <i class="collection-icon {{collection.collectionType}}"></i>
        <p>{{collection.title}}</p>
      </div>
    </div>
    <div class="frq-report-title hidden visible-xs  {{if isDCAContext 'dca-context'}}">
      <div class="title">
        <p>{{t 'common.unit'}} {{unless isHideLessonNumber unit.sequence ''}} / {{t 'common.lesson'}} {{unless isHideLessonNumber lesson.sequence ''}} :</p>
        <i class="collection-icon {{collection.collectionType}}"></i>
        <p class="ellipsis">{{collection.title}}</p>
      </div>
    </div>
    <div class="collection-performance-score">
      --
    </div>
    <div class="frq-grade-close-pullup" onclick={{action 'onPullUpClose'}} onkeypress={{action 'onPullUpClose'}} tabindex={{tabindex}}>
      {{gru-icon name="close" }}
    </div>
  </div>

  <div class="frq-grade-body">

    <div class="frq-grade-left-panel">
      <!-- <div class="frq-grade-left-panel-header">
        <div class="frq-grade-count">
          <sup>{{currentStudentIndex}}</sup>&frasl;<sub>{{users.length}}</sub>
        </div>
        <div class="frq-grade-students">
          <div class="frq-grade-students-carousel">
            <div id="frq-grade-students-carousel-wrapper" class="carousel slide" data-ride="carousel" data-interval="false">
              <div class="carousel-inner">
                {{#each users as |user index|}}
                  <div data-item-index="{{index}}" class="item {{if (eq index 0) 'active'}}">
                    <div class="user-profile-img">
                      <img src="{{user.avatarUrl}}" />
                      <span>{{user.lastName}}, {{user.firstName}}</span>
                    </div>
                  </div>
                {{/each}}
              </div> -->
      <!-- Left and right controls -->
      <!-- <a class="left carousel-control" data-slide="prev" {{action 'onClickPrev'}}>
                {{gru-icon name="keyboard_arrow_left"}}
              </a>
              <a class="right carousel-control" data-slide="next" {{action 'onClickNext'}}>
                {{gru-icon name="keyboard_arrow_right"}}
              </a>
            </div>
          </div>
        </div>
        <div class="frq-self-grade">
          <span>{{t 'common.self-graded'}}</span>
          <span class="performance-score">17/20</span>
          <span>{{t 'common.rubric-grade'}}</span>
        </div>
      </div> -->
      <div class="student-carousel-containers">
        <div class="student-info no-self-grade">
          <a class="left carousel-control {{if (or isShowStudentList (eq users.length 1)) 'in-active'}}" data-slide="prev" onclick={{action 'onClickPrev'}} onkeypress={{action 'onClickPrev'}} tabindex={{tabindex}}>
            {{gru-icon name="arrow_back"}}
          </a>
          <div class="frq-grade-students">
            <div class="frq-grade-students-carousel">
              <div id="frq-grade-students-carousel-wrapper" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                  {{#each users as |user index|}}
                    <div data-item-index="{{index}}" class="item {{if (eq student.id user.id) 'active'}}">
                      <div class="user-profile-img">
                        <img src="{{user.avatarUrl}}" alt="student avatar" />
                        <div class="count-and-name">
                          <span>{{currentStudentIndex}} of {{users.length}}</span>
                          <span>{{user.lastName}}, {{user.firstName}}</span>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
          <div class="icon">
            {{#if isShowStudentList}}
              <span class="material-icons clear" onclick={{action 'onClickClear'}} onkeypress={{action 'onClickClear'}} tabindex={{tabindex}}>clear</span>
            {{else}}
              <span class="material-icons dropdown" onclick={{action 'onClickDropdown'}} onkeypress={{action 'onClickDropdown'}} tabindex={{tabindex}}>arrow_drop_down</span>
            {{/if}}
          </div>
          <a class="right carousel-control {{if (or isShowStudentList (eq users.length 1)) 'in-active'}}" data-slide="next" onclick={{action 'onClickNext'}} onkeypress={{action 'onClickNext'}} tabindex={{tabindex}}>
            {{gru-icon name="arrow_forward"}}
          </a>
        </div>
      </div>
      {{#if isShowStudentList}}
        <div class="students-list">
          <div class="search-navigation">
            <div class="search-keyword">
              <input type="text" class="search-box" aria-label="searchKeyword" id="searchKeyword" value="{{userEnteredValue}}" onkeyup={{action 'onSearch'}} placeholder="{{t 'type-any-name'}}..." / tabindex={{tabindex}}>
              {{#if isShowClear}}
                <span class="search-icon" onclick={{action 'onClearSearch'}} onkeypress={{action 'onClearSearch'}} tabindex={{tabindex}}>
                  {{gru-icon name='clear'}}
                </span>
              {{else}}
                <span class="search-icon" onclick={{action 'onClickSearch'}} onkeypress={{action 'onClickSearch'}} tabindex={{tabindex}}>
                  {{gru-icon name='search'}}
                </span>
              {{/if}}
            </div>
          </div>
          <div class="list-container">
            {{#each filteredList as |user index|}}
              <div class="user-profile-img" onclick={{action 'onClickStudent' user}} onkeypress={{action 'onClickStudent' user}} tabindex={{tabindex}}>
                <div class="profile-img">
                  <img src="{{user.avatarUrl}}" alt="student avatar" />
                  <span class="circle{{if user.isGraded '-green' '-gray'}}"></span>
                </div>
                <div class="count-and-name">
                  <span class="count">{{if user.isGraded 'Graded' 'Not Graded'}}</span>
                  <span class="name">{{user.lastName}}, {{user.firstName}}</span>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      {{else}}
        {{#each allContexts as | questions index|}}
          <div class="row questions">
            <div class="col-sm-12 col-md-6">
              {{reports/assessment/gru-questions
                    enableMorebtn=true
                    isAnswerKeyHidden=false
                    viewMode='open-ended'
                    isTeacher=true
                    content=questions
                    isFreeResponse=true
                    contentSeq=(plus-one index)
                  }}
            </div>

            <div class="col-sm-12 col-md-6">
              <div class="frq-grade-right-panel">
                <div class="frq-grade-right-panel-header">
                  <div class="frq-grade-info">
                    {{#if questions.rubric.scoring}}
                      <span class="frq-grade-info-title">{{t 'grading-player.grading'}}</span>
                      <span class="frq-grade-info-desc">{{t 'common.update-grade-score'}}</span>
                    {{else}}
                      <span class="frq-grade-info-title">
                        Rubric
                        {{#if (and rubric.uploaded rubric.url)}}
                          <span class="rubric-attachment" onclick={{action 'filePreviewOpen'}} onkeypress={{action 'filePreviewOpen'}} tabindex={{tabindex}}>{{gru-icon name="attachment"}}</span>
                        {{/if}}
                      </span>
                      <span class="frq-grade-info-desc">{{t 'common.answer-this-rubric'}}</span>
                    {{/if}}
                  </div>

                  {{#if questions.rubric.scoring}}
                    <div class="frq-grade-score" style={{safe-html (concat "background-color:" (grade-color questions.rubric.gradingScore))}}>
                      <span>{{if questions.rubric.studentGradeScore questions.rubric.studentGradeScore 0}}</span>
                      <hr />
                      <span>{{questions.rubric.maxScore}}</span>
                    </div>
                  {{else if (gt questions.rubric.totalRubricPoints 0)}}
                    <div class="frq-grade-score" style={{safe-html (concat "background-color:" (grade-color questions.rubric.userRubricScore))}}>
                      <span>{{if questions.rubric.totalUserRubricPoints questions.rubric.totalUserRubricPoints 0}}</span>
                      <hr />
                      <span>{{questions.rubric.totalRubricPoints}}</span>
                    </div>
                  {{/if}}
                </div>
                <div class="frq-grade-right-panel-body">
                  {{#if (and questions.userGrade questions.rubric.scoring)}}
                    <div class="frq-grade-rubric-grading">
                      {{validation/gru-input-number model=questions.userGrade onChange=(action "onUserGradeScore" questions) title='studentscore' valuePath='studentScore' min=0 max=questions.rubric.maxScore step=rubric.increment }}
                      <span class="score">{{questions.rubric.maxScore}}</span>
                    </div>
                  {{else}}
                    <div class="frq-grade-rubric-categories">
                      {{#each questions.categories as | category categoryIndex |}}
                        <div class="frq-grade-rubric-category" id="frq-grade-rubric-category-{{index}}-{{categoryIndex}}">
                          {{#if category.allowsLevels}}
                            <div class="frq-grade-rubric-category-info">
                              <p>{{category.title}}</p>
                            </div>
                          {{/if}}
                          <div class="frq-grade-rubric-level-container">
                            {{#if category.allowsLevels}}
                              <div class="frq-grade-rubric-levels {{unless (and category.allowsLevels category.allowsScoring) 'no-progress'}} {{if category.scoreInPrecentage 'active'}}">
                                {{#each category.levels as |level levelIndex|}}
                                  <i class="frq-grade-info-popover {{if level.selected 'selected'}}" data-html="true" title="Points: {{level.score}}" data-content="{{level.name}}" data-question={{index}} data-category={{categoryIndex}}
                                    data-level={{levelIndex}}></i>
                                {{/each}}
                                {{#if (and category.allowsLevels category.allowsScoring)}}
                                  <div class="progress-bar" style={{safe-html (concat "background-color:" (grade-color category.scoreInPrecentage) ";width:" category.scoreInPrecentage "%")}}></div>
                                {{/if}}
                              </div>
                            {{else}}
                              <div class="frq-grade-rubric-category-info">
                                <p>{{category.title}}</p>
                              </div>
                            {{/if}}
                            <div class="frq-grade-clear {{if category.selected 'active'}}" onclick={{action 'unSelectCategoryLevel' questions category}} onkeypress={{action 'unSelectCategoryLevel' questions category}} tabindex={{tabindex}}>
                              {{gru-icon name="clear"}}
                            </div>
                            <div class="frq-grade-comment" onclick={{action 'onShowAddCommentBox' index categoryIndex}} onkeypress={{action 'onShowAddCommentBox' index categoryIndex}} tabindex={{tabindex}}>
                              {{gru-icon name="mode_comment"}}
                            </div>
                          </div>
                          <div class="frq-grade-comment-section">
                            {{validation/gru-textarea
                    model=category
                    valuePath='comment'
                    maxLength=500
                    rows=1
                    placeholder='Add Comment'
                    title='Add comments'
                  }}
                          </div>
                        </div>
                      {{/each}}
                    </div>
                  {{/if}}
                  <div class="frq-grade-general-comment-container">
                    {{validation/gru-textarea
            model=questions.userGrade
            valuePath='comment'
            maxLength=500
            rows=1
            title='commentText'
            placeholder='General Comments Only'
          }}
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <hr class="question-line">
        {{/each}}
      {{/if}}
      <div class="frq-grade-action-btns {{if isGuestAccount 'disable-event'}}">
        {{#unless isShowStudentList}}
        <button type="button" class="btn confirm btn-primary btn-lg" {{action  'submitUserGrade'}} tabindex={{tabindex}}>{{t 'common.submit'}}</button>
        {{/unless}}
      </div>
    </div>
  </div>
</div>
{{#if isLoading}}
  <div class="loading-spinner">
    {{three-bounce-spinner}}
  </div>
{{/if}}

<div class="caught-up-container">
  <div class="backdrop" onclick={{action 'onPullUpClose' true}} onkeypress={{action 'onPullUpClose' true}} tabindex={{tabindex}}></div>
  <div class="caught-up">
    <div class="caught-up-tick-container">
      <hr />
      <div class="caught-up-tick">
        <span>{{gru-icon name="done"}}</span>
      </div>
    </div>
    <h3>{{t 'common.all-caught-up'}}</h3>
    <p>{{t 'common.no-users-to-grade'}}</p>
  </div>
</div>

{{#if (and rubric.uploaded rubric.url)}}
  <div class="rubric-file-preview-container">
    <div class="backdrop"></div>
    <div class="rubric-file-preview">
      <div class="rubric-file-preview-close" onclick={{action 'filePreviewClose'}} onkeypress={{action 'filePreviewClose'}} tabindex={{tabindex}}>
        {{gru-icon name="close"}}
      </div>
      <iframe src="{{rubric.url}}" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
{{/if}}
