<div class='container-desktop helper-list {{if hasDocument 'has-document'}}'>
  <div class="panel panel-default">
    <div class="panel-heading" class="helper-panel-heading">
      <div class="panel-title">
        <span class="helper-icon">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
        </span>
        <span class="not-modal-header">
          {{t 'helper.helper-header-title'}}
        </span>
      </div>
    </div>
    <div class="info">
      <div class="panel-body">
        <div class="description">{{safe-html infoDescription.description}}</div>
      </div>
    </div>
  </div>
</div>

{{#if isShowLinkPullUP}}
  <div class="help-overlay overlay" {{action 'closeHelpPullUp'}}></div>
  <div class="descriptionAnchorLink">
    <div class="modal-header">
      <span class="pull-close" {{action 'closeHelpPullUp'}}>
        {{gru-icon name='clear'}}
      </span>
    </div>
    <div class="modal-body">
      <iframe src={{anchorLink}} width="100%" height="500"></iframe>
    </div>
  </div>
{{/if}}
