<div class="question-container {{if question.active 'expanded'}}">
  <div class="question-header-container {{if question.isScored 'scored'}}">
    <div class="question-icon"> </div>
    <div class="question-title ellipsis" data-toggle="tooltip" title="{{question.title}}" {{action "onToggleQuestion"
      seq}}>Q{{plus-one seq}}. {{safe-html question.title}}</div>
    <div class="question-accordion" {{action "onToggleQuestion" seq}}>
      {{#if question.active}}
      {{gru-icon name="arrow_drop_up"}}
      {{else}}
      {{gru-icon name="arrow_drop_down"}}
      {{/if}}
    </div>
    <!-- Allow teacher to change the score for FRQ question type -->
    <div class="question-score-container {{if isBooleanScore 'true-false-score' 'multi-score'}}">
      {{#if isBooleanScore}}
      <div class="boolean-score-box wrong-score question-score {{if (eq question.score 0) 'active-score'}}"
        {{action "onAddQuestionScore" 0}}>0</div>
      <div class="boolean-score-box correct-score question-score {{if (eq question.score 1) 'active-score'}}"
        {{action "onAddQuestionScore" 1}}>1</div>
      {{else}}
      {{#if isShowScrollableScores}}
      <div class="arrow-left" {{action "onScrollScore" 'left' }}>
        {{gru-icon name="arrow_left"}}
      </div>
      {{/if}}
      <div class="scores-list">
        {{#each questionScores as |questionScore|}}
        <div class="question-score {{if (eq question.score questionScore) 'active-score'}}"
          {{action "onAddQuestionScore" questionScore}}>{{questionScore}}</div>
        {{/each}}
      </div>
      {{#if isShowScrollableScores}}
      <div class="arrow-right" {{action "onScrollScore" 'right' }}>
        {{gru-icon name="arrow_right"}}
      </div>
      {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="toggle-container {{if question.active 'expanded-view' 'collapsed-view'}}">
    <div class="question-info-container">
      {{cards/question-preview-card question=question isShowCorrectAnswer=true contentSeq=(plus-one seq) isShowFeedback=true}}
    </div>
  </div>
</div>
