<div class="panel panel-default {{if isComprehension 'comprehension-panel'}} {{if isPanelExpanded 'expanded' 'collapsed'}}">
  <div class="panel-heading">
    {{#if isSorting}}
      <span class="drag-icon">
        {{gru-icon name="drag_handle"}}
      </span>
    {{/if}}
    <h3>{{plus-one index}}</h3>
    {{#if isEditingInline}}
      <div class="edit-title">
        <i class="{{model.format}}-icon"></i>
        <div class="input">
          {{validation/gru-input model=tempModel valuePath='title' maxLength=50}}
        </div>
      </div>
    {{else}}
      <a class="title" {{action 'editInline'}}>
        <i class="{{model.format}}-icon"></i>
        <div>
          <strong>{{{model.title}}}</strong>
          {{#if (eq model.format 'question')}}
            <span>{{t "common.question"}} | {{t (concat "common.question-type." model.type)}}</span>
          {{else}}
            <span>{{t "common.resource"}} | {{t (concat "common.resource-format." model.format)}}</span>
          {{/if}}
        </div>
      </a>
    {{/if}}
    <div class="detail {{if isPanelExpanded 'hidden' 'visible'}} collapsed">
      {{#if model.standards.length}}
        {{#each visibleStandardsList as |standard|}}
          <span class="btn btn-primary btn-small">{{standard.code}}</span>
        {{/each}}
        {{#if remainingStandards}}
          <span class="btn btn-default btn-small">+{{remainingStandards}}</span>
        {{/if}}
      {{else}}
        <span class="out-of-scope">{{t "common.add-standard"}}</span>
      {{/if}}
      <div class="actions">
        <button class="btn add-item no-bgd out-of-scope" title="{{t 'common.add'}}"
          {{action 'add'}}>{{gru-icon name="add"}}</button>
        {{#unless (eq model.format 'question')}}
          <button class="btn narration no-bgd" title="{{t 'common.edit-narration'}}"
            {{action 'editNarration' model}}>{{gru-icon name="mode_comment"}}</button>
        {{/unless}}
        <div class="item-actions">
          <button title="{{t 'common.delete'}}" class="btn no-bgd delete-item" {{action 'deleteItem' model}}
            data-toggle="tooltip" data-placement="auto" data-trigger="hover">{{gru-icon name="delete"}}</button>
          <button title="{{t 'common.copy-to'}}" class="btn no-bgd copy-to" {{action 'copyTo' model}}
            data-toggle="tooltip" data-placement="auto">{{gru-icon name="call_split"}}</button>
          <button title="{{t 'common.move'}}" class="btn no-bgd move-item out-of-scope" {{action 'move' model}}
            data-toggle="tooltip" data-placement="auto">{{gru-icon name="subdirectory_arrow_right"}}</button>
          <button title="{{t 'common.copy'}}" class="btn no-bgd copy-item" {{action 'copy' model}} data-toggle="tooltip"
            data-placement="auto">{{gru-icon name="content_copy"}}</button>
          <button class="btn edit-item no-bgd" title="{{t 'common.edit'}}" {{action 'editInline'}} data-toggle="tooltip"
            data-placement="auto">{{gru-icon name="edit"}}</button>
        </div>
      </div>
    </div>
    <div class="detail {{if isPanelExpanded 'visible' 'hidden'}} expanded">
      <div class="actions">
        {{#unless isEditingInline}}
          <button class="btn narration no-bgd" title="{{t 'common.edit-narration'}} "
            {{action 'cancel'}}>{{gru-icon name="mode_comment"}}</button>
        {{/unless}}
        <div class="item-actions no-border">
          {{#if isEditingInline}}
            <button class="more-details btn btn-default"
              {{action 'edit' model}}>{{gru-icon name="launch"}}{{t "common.more-details"}}</button>
          {{/if}}
          <button class="cancel btn btn-info" {{action 'cancel'}}>{{t "common.cancel"}}</button>
          <button class="save btn btn-success" {{action 'updateItem' model}}>{{t "common.save"}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    {{#if isEditingInline}}
      {{#if (eq model.format 'question')}}
        <div class="question">
          <div class="border-bottom">
            <h3>{{t (if isSERPType "content.questions.edit.builder.instructions"  "common.question")}}</h3>
            {{#unless model.isScientificFIB}}
            <span
              class="instructions">{{t (concat 'content.questions.edit.builder.question-instructions.' model.type)}}</span>
            {{/unless}}
          </div>
          {{gru-rich-text-editor placeholder=(t (if isSERPType "common.enter-instructions-here" "common.new-question-text")) content=tempModel.text model=tempModel valuePath='description'}}
          {{#if showImagePicker}}
            {{content/gru-image isEditing=true srcImage=model.thumbnail editImage=tempModel.thumbnail showAltText=true}}
          {{else}}
            <button class="add-image btn btn-sm btn-primary"
              {{action "toggleImagePicker"}}>{{t (if isSERPType "common.add-question-instruction-image" "common.add-question-image")}}</button>
          {{/if}}
        </div>
        {{#if model.isOpenEnded}}
          <div class="submission-format">
            <div class="border-bottom">
              <h3>{{t 'content.questions.edit.builder.submission-format.title'}}</h3>
            </div>
            <div class="answer-types">
              <div class="panel panel-default">
                <div class="panel-body">{{gru-icon name='text_fields'}}</div>
                <div class="panel-footer">{{t 'content.questions.edit.builder.submission-format.answer-type.text-box'}}
                </div>
              </div>
            </div>
          </div>
          <div>
            <h3 {{action 'exemplarView'}} class="exemplar-expand one">{{t "oa.references.exemplar"}}
              {{gru-icon name = (if isExemplarView  "keyboard_arrow_down" "keyboard_arrow_up") }} </h3>
            {{#if isExemplarView}}
              <div class='exemplar-answer'>
                {{gru-rich-text-editor placeholder=(t 'common.new-question-text') content=tempModel.hintExplanationDetail model=tempModel valuePath='exemplar' }}
              </div>
              {{#if (not isStudent)}}
                <div class='exemplar-attachment'>
                  <h3>{{t "references.exemplar_attachment"}} </h3>
                  {{content/collections/gru-collection-list-attachment references=references  questionId = model valuePath='exemplar_attachment' editType='upload' isEditing=isEditing}}
                </div>
              {{/if}}
            {{/if}}
          </div>
          <div class="feedback-grading">
            <div class="border-bottom">
              <h3>{{t 'content.questions.edit.builder.feedback-grading.title'}}</h3>
            </div>
            <div class="content">
              <div class="switch rubric">
                <label class="switch-label">{{t 'common.rubric'}}</label>
                {{gru-switch switchOptions=switchOptions isChecked=tempModel.rubric.rubricOn}}
              </div>
              {{#if tempModel.rubric.rubricOn}}
                {{#if tempModel.rubric.title}}
                  <div class="associated-rubric">
                    <div class="image">
                      {{#if tempModel.rubric.thumbnail}}
                        <img class="img-responsive" src="{{tempModel.rubric.thumbnail}}" alt="rubric thumbnail"/>
                      {{else}}
                        <i class="rubric-icon"></i>
                      {{/if}}
                    </div>
                    <div class="info">
                      <h3>{{tempModel.rubric.title}}</h3>
                    </div>
                    <div class="actions">
                      <button class="btn no-bgd remove-item" {{action 'removeRubric' tempModel.rubric.id}}>
                        {{gru-icon name="remove_circle"}}
                      </button>
                      <button {{ action 'rubricQuestionEdit' }} class="btn no-bgd edit-item">
                        {{gru-icon name="edit"}}
                      </button>
                    </div>
                  </div>
                {{else}}
                  <div class="add-rubric-container">
                    <button class="btn btn-success add-prefix add-rubric" {{action 'showAddRubricModal'}}>
                      {{t 'content.questions.edit.builder.feedback-grading.from-existing-rubric'}}
                    </button>
                  </div>
                  <div class="validation">
                    {{#if rubricError}}
                      <span class="error">
                        {{t 'content.questions.edit.builder.feedback-grading.rubric-error'}}
                      </span>
                    {{/if}}
                  </div>
                {{/if}}
              {{else}}
                <div class="switch scoring">
                  <label class="switch-label">{{t 'content.questions.edit.builder.feedback-grading.scoring'}}</label>
                  {{gru-switch switchOptions=switchOptions isChecked=tempModel.rubric.scoring}}
                </div>
                {{#if tempModel.rubric.scoring}}
                  <div class="scoring-settings">
                    <div class="setting maximum-points">
                      <span class="title">{{t 'content.questions.edit.builder.feedback-grading.maximum-points'}}</span>
                      {{validation/gru-select options=maximumOptions search="true" optionSelected=tempModel.rubric.maxScore onOptionSelect="onMaxScoreChange"}}
                    </div>
                    <div class="setting increment">
                      <span class="title">{{t 'content.questions.edit.builder.feedback-grading.increment'}}</span>
                      {{validation/gru-select options=incrementOptions search="true" optionSelected=tempModel.rubric.increment onOptionSelect="onIncrementChange"}}
                    </div>
                  </div>
                {{/if}}
              {{/if}}
            </div>
          </div>
        {{/if}}
        {{#unless (or model.isOpenEnded model.isFIB)}}
          {{#unless model.isScientificFreeRes}}
          <div class="answers">
            <div class="{{unless model.isHotTextHighlight 'border-bottom'}}">
              <h3>
                {{t (if isSERPType "content.questions.edit.builder.exercises" "content.questions.edit.builder.answer")}}
              </h3>
              {{#if showAdvancedEditButton}}
                <div class="advanced-button">
                  <span>{{t "common.advanced-editing"}}</span>
                  {{gru-switch switchOptions=switchOptions onOptionSwitch='onShowAdvancedEditor' isChecked=showAdvancedEditor}}
                </div>
              {{/if}}
          {{#unless (or model.isHotTextHighlight model.isScientificFIB)}}
            <span
              class="instructions">{{t (concat 'content.questions.edit.builder.answer-instructions.' model.type)}}</span>
          {{/unless}}
             {{#if model.isScientificFIB}}
          <span
            class="instructions">{{t (concat 'content.questions.edit.builder.question-instructions.' model.type)}}</span>
          {{/if}}
            </div>
            {{#if hasNoImages}}
              <div class="missing-images">
                <p><small>{{t "common.errors.answer-has-no-image"}}</small></p>
              </div>
            {{/if}}
            {{#if correctAnswerNotSelected}}
              <div class="missing-correct-answer">
                <p><small>{{t "common.errors.select-correct-answer"}}</small></p>
              </div>
            {{/if}}
            {{component (question-config model.type 'component.builder_answer') selectedStruggle=selectedStruggle answers=tempModel.answers tempModel=tempModel collection=collection isCollection=isCollection editMode=true showAdvancedEditor=showAdvancedEditor references=references}}{{gru-notify onLoad="focusQuestionTextEditor"}}
        {{#if isAudioUploadFail}}
           <div class="validation">
             <span class="error">
               {{t 'content.questions.edit.builder.feedback-grading.upload-audio-error'}}
            </span>
          </div>
         {{/if}}
          </div>
          {{/unless}}
          {{#if model.isScientificFIB }}
          {{#each answerDetails as | item index|}}
            <div class='exemplar-answer hints'>
              <label for="answer-category">
                <span>{{item.answer_category}}</span>
              </label>
              <div class='exemplar-answer hints'>
                {{gru-rich-text-editor placeholder=(t 'content-answer-text-placeholder') content=item.answer_text model=item valuePath='item.answer_text' }}
              </div>
            </div>
          {{/each}}
         {{/if}}
           {{#if (or model.isScientificFIB model.isScientificFreeRes)}}
           <div class='exemplar-answer hints'>
             <h3>{{t 'content-hint-explanation-type'}}</h3>
           </div>
           {{#each hintExplanationDetail as | item index|}}
           <div class='exemplar-answer hints'>
             <h3>{{item.answer_category}}</h3>
             {{gru-rich-text-editor content=item.hints model=item valuePath='item.hints' }}
           </div>
           {{/each}}
           <div class="feedback-grading">
             <div class="border-bottom">
               <h3>{{t "common.rubric"}}</h3>
             </div>
             <div class="content">
               <div class="switch rubric">
                 <label class="switch-label">{{t 'common.rubric'}}</label>
                 {{gru-switch switchOptions=switchOptions isChecked=tempModel.rubric.rubricOn}}
               </div>
               {{#if tempModel.rubric.rubricOn}}
                 {{#if tempModel.rubric.title}}
                   <div class="associated-rubric">
                     <div class="image">
                       {{#if tempModel.rubric.thumbnail}}
                         <img class="img-responsive" src="{{tempModel.rubric.thumbnail}}" alt="rubric thumbnail"/>
                       {{else}}
                         <i class="rubric-icon"></i>
                       {{/if}}
                     </div>
                     <div class="info">
                       <h3>{{tempModel.rubric.title}}</h3>
                     </div>
                     <div class="actions">
                       <button class="btn no-bgd remove-item" {{action 'removeRubric' tempModel.rubric.id}}>
                         {{gru-icon name="remove_circle"}}
                       </button>
                       <button {{ action 'rubricQuestionEdit' }} class="btn no-bgd edit-item">
                         {{gru-icon name="edit"}}
                       </button>
                     </div>
                   </div>
                 {{else}}
                   <div class="add-rubric-container">
                     <button class="btn btn-success add-prefix add-rubric" {{action 'showAddRubricModal'}}>
                       {{t 'content.questions.edit.builder.feedback-grading.from-existing-rubric'}}
                     </button>
                   </div>
                   <div class="validation">
                     {{#if rubricError}}
                       <span class="error">
                         {{t 'content.questions.edit.builder.feedback-grading.rubric-error'}}
                       </span>
                     {{/if}}
                   </div>
                 {{/if}}
               {{/if}}
             </div>
           </div>
           {{/if}}
          {{#unless (or model.isScientificFIB model.isScientificFreeRes model.isHotSpotImage disableExemplar)}}
          <h3 {{action 'exemplarView'}} class="exemplar-expand">{{t "oa.references.exemplar"}}
            {{gru-icon name =(if isExemplarView  "keyboard_arrow_down" "keyboard_arrow_up")}}
          </h3>
          {{/unless}}

 {{#if model.isHotSpotImage}}
<div class="exemplar-show">
 <h3 {{action 'exemplarView'}}  class="exemplar-expand">{{t "oa.references.exemplar"}}
    {{gru-icon name =(if isExemplarView "keyboard_arrow_up" "keyboard_arrow_down")}}</h3>
</div>

 {{/if}}

          {{#if isExemplarView}}
            {{#if isSerpDa}}
              <div class="exemplar-answer">
                <div class="serp-exemplar">
                  <div class="decoding-exemplar">
                    {{#each references as |serpExcemplar exemplarSeq|}}
                      <div class="audio-recorder exemplar-{{exemplarSeq}} {{if serpExcemplar.audio_url 'enable'}}">
                        <h3 class="excercise-seq">
                          {{t 'common.excercise'}} {{plus-one exemplarSeq}}
                        </h3>
                        <div class="excercise-exemplar">
                          <div class="exemplar-text">
                            {{serpExcemplar.audio_text}}
                          </div>
                          <div class="exemplar-audio">
                            <span class="record-actions">
                              <span class="record-icon" {{action "onRecord" exemplarSeq}}>
                                {{gru-icon name="mic"}}
                              </span>
                            </span>

                            <div class="audio-player">
                              <span class="audio-progress">
                                <span class="progress-filling">
                                  <span class="progress-pointer"></span>
                                  <span class="audio-wave">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                  </span>
                                </span>
                              </span>
                              {{#if (and (eq answerIndex exemplarSeq) isPause)}}
                              <span class="audio-play" {{action 'onPauseAudio'}}>
                                  {{gru-icon name="pause_arrow"}}
                              </span>
                              {{else}}
                              <span class="audio-play" {{action 'onPlayAudio' exemplarSeq}}>
                                  {{gru-icon name="play_arrow"}}
                              </span>
                              {{/if}}
                            </div>
                          </div>
                          <div class="remove-exemplar" {{action "onRemoveExemplar" exemplarSeq}}>
                            {{gru-icon name="remove_circle"}}
                          </div>
                        </div>
                      </div>
                    {{/each}}
                    <div
                      class="add-excercise-exemplar {{if (eq tempModel.answers.length references.length) 'disable-event'}}"
                      {{action "onAddExemplar"}}>
                      {{t 'content-builder.exemplar.add'}}
                    </div>
                  </div>
                </div>
              </div>
            {{else if tempModel.isSerpSayOutLoud}}
              <div class='exemplar-answer'>
                {{content/exemplars/serp-say-out-loud exemplars=references answers=tempModel.answers seq=(plus-one index) isAudioFail=isAudioUploadFail isExemplaravail=isExemplaravail}}
              </div>
            {{#if isExemplaravail}}
           <div class="validation">
             <span class="error">
               {{t 'content.questions.edit.builder.feedback-grading.confirm-audio'}}
            </span>
          </div>
             {{/if}}
            {{else if tempModel.isSerpUnderline}}
              <div class='exemplar-answer'>
                {{content/exemplars/serp-identify-digraph exemplars=references answers=tempModel.answers exemplarError = exemplarError emptyUnderline=emptyUnderline}}
              </div>
            {{else}}
              <div class='exemplar-answer'>
                {{gru-rich-text-editor content=tempModel.hintExplanationDetail model=tempModel valuePath='exemplar' uuid=exemplarKey }}
              </div>
              {{#if (not isStudent)}}
                <div class='exemplar-attachment'>
                  <h3>{{t "references.exemplar_attachment"}} </h3>
                  {{content/collections/gru-collection-list-attachment references=references  questionId = model valuePath='exemplar_attachment' editType='upload' isEditing=isEditing}}
                </div>
              {{/if}}
            {{/if}}
        {{#if exemplarError }}
           <div class="validation">
             <span class="error">
               {{t 'content.questions.edit.builder.feedback-grading.exemplar-error'}}
            </span>
          </div>
         {{/if}}
         {{#if emptyUnderline }}
           <div class="validation">
             <span class="error">
               {{t 'content.questions.edit.builder.feedback-grading.empty-underline-error'}}
            </span>
          </div>
         {{/if}}
          {{/if}}
           {{#if (or model.isSerpSayOutLoud model.isSerpDecoding question.isSerpUnderline question.isSerpWPM)}}
           <div class="feedback-grading">
             <div class="border-bottom">
               <h3>{{t "common.rubric"}}</h3>
             </div>
             <div class="content">
               <div class="switch rubric">
                 <label class="switch-label">{{t 'common.rubric'}}</label>
                 {{gru-switch switchOptions=switchOptions isChecked=tempModel.rubric.rubricOn}}
               </div>
               {{#if tempModel.rubric.rubricOn}}
                 {{#if tempModel.rubric.title}}
                   <div class="associated-rubric">
                     <div class="image">
                       {{#if tempModel.rubric.thumbnail}}
                         <img class="img-responsive" src="{{tempModel.rubric.thumbnail}}" alt="rubric thumbnail"/>
                       {{else}}
                         <i class="rubric-icon"></i>
                       {{/if}}
                     </div>
                     <div class="info">
                       <h3>{{tempModel.rubric.title}}</h3>
                     </div>
                     <div class="actions">
                       <button class="btn no-bgd remove-item" {{action 'removeRubric' tempModel.rubric.id}}>
                         {{gru-icon name="remove_circle"}}
                       </button>
                       <button {{ action 'rubricQuestionEdit' }} class="btn no-bgd edit-item">
                         {{gru-icon name="edit"}}
                       </button>
                     </div>
                   </div>
                 {{else}}
                   <div class="add-rubric-container">
                     <button class="btn btn-success add-prefix add-rubric" {{action 'showAddRubricModal'}}>
                       {{t 'content.questions.edit.builder.feedback-grading.from-existing-rubric'}}
                     </button>
                   </div>
                   <div class="validation">
                     {{#if rubricError}}
                       <span class="error">
                         {{t 'content.questions.edit.builder.feedback-grading.rubric-error'}}
                       </span>
                     {{/if}}
                   </div>
                 {{/if}}
               {{/if}}
             </div>
           </div>
           {{/if}}
        {{/unless}}
      {{else}}
        <div class="narration">
          <label>
            <span>{{t "common.narration"}}</span>
              {{gru-rich-text-editor content=tempModel.narration model=tempModel valuePath='narration'}}
          </label>
        </div>
      {{/if}}
      {{#if model.isFIB}}
        <h3 {{action 'exemplarView'}}>{{t "oa.references.exemplar"}}
          {{gru-icon name =(if isExemplarView "keyboard_arrow_down" "keyboard_arrow_up")}}</h3>
        {{#if isExemplarView}}
          <div class='exemplar-answer'>
            {{gru-rich-text-editor placeholder=(t 'common.new-question-text') content=tempModel.hintExplanationDetail model=tempModel valuePath='exemplar' }}
          </div>
          {{#if (not isStudent)}}
            <div class='exemplar-attachment'>
              <h3>{{t "references.exemplar_attachment"}} </h3>
              {{content/collections/gru-collection-list-attachment references=references  questionId = model valuePath='exemplar_attachment' editType='upload' isEditing=isEditing}}
            </div>
          {{/if}}
        {{/if}}
      {{/if}}
      <div class="actions">
        <div class="item-actions no-border">
          <button class="cancel btn btn-info" {{action 'cancel'}}>{{t "common.cancel"}}</button>
          <button class="save btn btn-success" {{action 'updateItem' model}}>{{t "common.save"}}</button>
        </div>
      </div>
    {{/if}}
    {{#if isEditingNarration}}
      <div class="narration">
        <label>
          <span>{{t "common.narration"}}</span>
            {{gru-rich-text-editor rawTextareaValue=tempModel.narration content=tempModel.narration model=tempModel valuePath='narration'}}
        </label>
      </div>
    {{/if}}
  </div>
</div>
