<div class="teacher class">
  {{teacher/class/gru-class-navbar
    navTitle= class.title
    class=class
    onItemSelected="selectMenuItem"
    selectedMenuItem=menuItem
    isPremiumClass=isPremiumClass
    onOpenCourseReport="onOpenCourseReport"
    onOpenOCAReport="onOpenOCAReport"
    onOpenLearningTools="onOpenLearningTools"
    isShowLearningTool=isShowLearningTool
    performanceSummaryForDCA=performanceSummaryForDCA
   onOpenCompetencyReport="onOpenCompetencyReport"
   secondaryClass=secondaryClass
   secondaryClasses=multiGradeList
   onChangeSecondaryClass='onChangeSecondaryClass'
   isMenuExpanded=isShowExpandedNav
 }}
  <div class="header clearfix">
    <div class="go-back-container">
      {{#if backUrls}}
        <a {{action 'backToClassReport' }} class="back-to" title="back">
          {{gru-icon name='arrow_back'}}
          {{t "common.back-to-report"}}
        </a>
      {{else}}
        {{#if class.isArchived}}
          {{#link-to 'teacher-home'(query-params showArchivedClasses="true" showActiveClasses="false" ) class="back-to" title="back teacher-home" }}
            {{gru-icon name='arrow_back'}} {{t 'teacher-landing.class.back-to-archived'}}
          {{/link-to}}
        {{else}}
          {{#link-to 'teacher-home' class="back-to" title="back teacher-home"}}
            {{gru-icon name='arrow_back'}} {{t 'teacher-landing.class.back-to'}}
          {{/link-to}}
        {{/if}}
      {{/if}}
      <h1>{{class.title}}</h1>
    </div>
  </div>
  {{#if isShowCompetencyReport}}
    {{#reports/pull-up/competency-report type=(t 'report.competency-report.title') title=(if class.course.subject class.course.subject (t 'report.competency-report.no-subject')) showPullUp=isShowCompetencyReport}}
      {{reports/pull-up/course-competency-report classData=class onSelectDomain="onSelectDomain"}}
    {{/reports/pull-up/competency-report}}
  {{/if}}
  {{#if isShowDomainCompetencyReport}}
    {{#reports/pull-up/competency-report type=(t 'report.domain-report') title=(locale-translation (t (concat 'domain-code.' selectedDomain.domainData.domainCode)) selectedDomain.domainData.domainName) showPullUp=isShowDomainCompetencyReport onClosePullUp="onCloseCompetencyReportPullUp" }}
      {{reports/pull-up/domain-competency-report domainSet=selectedDomain onSelectCompetency="onSelectCompetency"}}
    {{/reports/pull-up/competency-report}}
  {{/if}}
  {{#if isShowCompetencyContentReport}}
    {{#reports/pull-up/competency-report type=(if selectedCompetency.competencyStudentDesc selectedCompetency.competencyStudentDesc selectedCompetency.competencyCode) title=selectedCompetency.competencyStudentDesc showPullUp=isShowCompetencyContentReport
      onClosePullUp="onCloseCompetencyReportPullUp" competency=selectedCompetency}}
      {{reports/pull-up/competency-content-report competency=selectedCompetency userId=selectedStudentUserId}}
    {{/reports/pull-up/competency-report}}
  {{/if}}
  <div class="content">
    {{outlet}}
  </div>
</div>
{{#if isShowCourseReport}}
  {{reports/pull-up/course-report context=courseReportData showPullUp=isShowCourseReport onOpenUnitReport="onOpenUnitReport"  onClosePullUp="onClosePullUp" isShowMilestoneReport = isShowMilestoneReport gradeSubject = gradeSubject tabindex="4" classFramework = classFramework isDefaultShowFW = isDefaultShowFW }}
{{/if}}
{{#if isShowUnitReportPullUp}}
  {{reports/pull-up/unit-report context=unitReportData onClosePullUp="onClosePullUp" showPullUp=isShowUnitReportPullUp onOpenLessonReport="onOpenLessonReport" secondaryClass = pullUpSecondaryClass class=class isShowMilestoneReport = isShowMilestoneReport gradeSubject = gradeSubject tabindex="4" classFramework = classFramework isDefaultShowFW = isDefaultShowFW}}
{{/if}}
{{#if isShowLessonReportPullUp}}
  {{reports/pull-up/lesson-report context=lessonReportData  onClosePullUp="onClosePullUp"  showPullUp=isShowLessonReportPullUp teacherCollectionReport="teacherCollectionReport" isShowMilestoneReport = isShowMilestoneReport tabindex="4" classFramework = classFramework isDefaultShowFW = isDefaultShowFW}}
{{/if}}
{{#if isShowCollectionReportPullUp}}
  {{reports/pull-up/collection-report onClosePullUp="onClosePullUp" context=teacherCollectionReportData showPullUp=isShowCollectionReportPullUp isShowMilestoneReport = isShowMilestoneReport gradeSubject = gradeSubject classFramework = classFramework isDefaultShowFW = isDefaultShowFW tabindex="4" }}
{{/if}}
{{#if isShowOCASummaryReportPullUp}}
  {{teacher/offline-class/oca-summary-report-pull-up
    classId=class.id
    primaryClass=class
    onOpenPerformanceEntry="onOpenPerformanceEntry"
    performanceSummary=performanceSummaryForDCA
    onClosePullUp="onClosePullUp"
    isMultiClassEnabled = isMultiClassEnabled
    secondaryClasses = multiGradeList
    isShowAddData=isShowAddData
    tabindex="3"
    classFramework = classFramework
    isDefaultShowFW = isDefaultShowFW
  }}
{{/if}}

{{#if isShowAddData}}
  {{#reports/pull-up/activity/add-performance-data
    showPullUp = isShowAddData
    activityDate = selectedClassActivity.activationDate
    activityTitle = selectedActivityContent.title
    onClosePullUp = "onClosePerformanceEntry"
    contentType = selectedActivityContent.collectionType
    tabindex=tabindex
  }}
    {{reports/pull-up/activity/add-student-performance-data
      collection = selectedActivityContent
      course = selectedClassData.course
      class = selectedClassData
      students = selectedClassActivityMembers
      activityData = selectedClassActivity
      onClosePullUp = "onClosePerformanceEntry"
      contentType = selectedActivityContent.collectionType
      tabindex=selectedClassData.tabindex
    }}
  {{/reports/pull-up/activity/add-performance-data}}
{{/if}}

  {{#if isShowLearningTool}}
{{reports/pull-up/gru-learning-tool-list isShowLearningTool=isShowLearningTool  sourceDetails=sourceDetails}}
{{/if}}
