<div class="gru-syllables-division-container">
    <div class="gru-syllables-division-section">
          {{#each answers as |answer index|}}
          <div class="gru-syllables-division-answer-item">
                <h3>{{answer-letter index}}</h3>
                {{validation/gru-input content=answer.text disabled=(not editMode) model=answer valuePath='text' }}
                <div class="syllables-division-container text-edit syllables-division-edit-{{index}} {{unless editMode 'readonly'}}"
                 data-answer-index="{{index}}">{{answer.text}}</div>
              {{#if editMode}}
                <span {{action "onDeleteAnswer" answer}} class="material-icons close-icon">delete</span>
              {{/if}}
          </div>
          {{/each}}
    </div>
  <div class="gru-add-excercise {{unless editMode 'disabled-btn'}}">
    <span {{action (optional (if editMode (action "onAddExcercise") null))}}>
      {{t 'content.questions.edit.builder.add-vowel-teams'}}
    </span>
  </div>
</div>
