<div class="offline-activity-card-container">
  <div class="header-container {{if isDeepLink 'disable-event'}}">
    <div class="oa-thumbnail-container" style="background-image: url({{offlineActivity.thumbnailUrl}})">
      <div class="oa-title-container">
        {{offlineActivity.title}}
      </div>
    </div>
    <div class="oa-info-container">
      <div class="oa-task-count">
        {{#if offlineActivity.taskCount}}
          <i class="icon" data-toggle="tooltip" title="{{t 'common.tasks'}}"></i><span class="value">{{offlineActivity.taskCount}}</span>
        {{/if}}
      </div>
      <div class="oa-visibility {{unless offlineActivity.isVisibleOnProfile 'not-visible'}}" title="{{t (if offlineActivity.isVisibleOnProfile 'common.visibility-available' 'common.visibility-tooltip')}}" data-toggle="tooltip">
        {{gru-icon name="visibility"}}
      </div>
    </div>
  </div>
  <div class="body-container {{if isDeepLink 'disable-event'}}">
    <div class="oa-owner-info">
      <span class="owner-label">
        {{t (if isSameOwnerAndCreator "common.created-by" "common.remixed-by")}}
      </span>
      <span class="owner-thumbnail" style="background-image: url({{offlineActivity.owner.avatarUrl}})"></span>
      {{#link-to 'profile.edit' offlineActivity.owner.id class="pointer" tabindex=tabindex}}
        <span class="owner-name ellipsis">{{offlineActivity.owner.displayName}}</span>
      {{/link-to}}
    </div>
    <div class="oa-description">
      {{offlineActivity.learningObjectives}}
    </div>
    <div class="oa-standards">
      {{#if oaStandards.length}}
        {{taxonomy/gru-taxonomy-tag-list tags=oaStandards tagsVisible=2 isInCard=true showDescription=true tabindex=tabindex}}
      {{/if}}
    </div>
  </div>
  <div class="footer-container">
    {{#unless isDeepLink}}
      <div class="oa-preview" data-toggle="tooltip" title="{{t 'common.preview'}}" onclick={{action "onShowOfflineActivityPreview"}} onkeypress={{action "onShowOfflineActivityPreview"}} tabindex={{tabindex}}>{{gru-icon name="play_arrow"}}</div>
      {{#if isEditEnabled}}
        <div class="oa-edit" data-toggle="tooltip" title="{{t 'common.edit'}}" onclick={{action "onEditContent"}} onkeypress={{action "onEditContent"}} tabindex={{tabindex}}>{{gru-icon name="mode_edit"}}</div>
      {{/if}}
      {{#if isAddEnabled}}
        <div class="oa-add" data-toggle="tooltip" title="{{t 'common.add'}}" onclick={{action "onAddContent"}} onkeypress={{action "onAddContent"}} tabindex={{tabindex}}>{{gru-icon name="add"}}</div>
      {{/if}}
    {{else}}
      {{#if offlineActivity.isCheckBoxChecked}}
        <i aria-label="selected-card" class="checked-img" onclick={{action "selectSingleBox" offlineActivity}} onkeypress={{action "selectSingleBox" offlineActivity}} tabindex={{tabindex}}></i>
      {{else}}
      <i aria-label="select-card" class="material-icons add-icon" onclick={{action "selectSingleBox" offlineActivity}} onkeypress={{action "selectSingleBox" offlineActivity}} tabindex={{tabindex}}>add</i>
      {{/if}}
    {{/unless}}
  </div>
</div>
