<div class="card-container">
  <div class="header-panel">
    <div class="subject ellipsis" data-placement="bottom" data-toggle="tooltip" title="{{t 'create-subject-card.subject-name' subjectName=subject.name}}" data-trigger="hover"> {{t 'create-subject-card.subject-name' subjectName=subject.name}}</div>
    <span data-placement="bottom" data-toggle="tooltip" title="{{concat 'by ' subject.publisherName}}" data-trigger="hover">{{concat 'by ' subject.publisherName}}</span>
  </div>
  {{#if isSelectGrade}}
    <div class="body-panel grade-list">
      <p>{{t 'create-subject-card.grade-title'}}</p>
      {{#each taxonomyGrades as |grade index|}}
        <div class="grade-name {{if (eq grade.id selectedGrade.id) 'active'}}" onclick={{action "selectGrade" grade}}>{{grade.grade}}</div>
      {{/each}}
    </div>
    <div class="footer-panel">
      <div aria-label="cancel" class="cancel next" {{action 'cancel'}} >
        <span>{{t 'common.cancel'}}</span>
      </div>
      <div aria-label="create" class="create next {{unless selectedGrade 'disabled'}}" {{action 'createSubjectClass'}} >
        <span>{{t 'common.create'}}</span>
      </div>
    </div>
  {{else}}
    <div class="body-panel">
      <div class="class-card-image">
        <span class="card-image-blk" style="background-image: url({{cardBackgroundImage}})"></span>
      </div>
      <div class="validate-input">
        {{validation/gru-input
            model=newClass
            valuePath='title'
            maxLength=25
            disabled = (if isGuestAccount true false)
            autofocus=false
            didValidate=didValidate
            class="form-group"
            placeholder=(t 'content.classes.create.class-name-input')
            tabindex=tabindex
          }}
      </div>
    </div>
    <div class="footer-panel {{if (eq isGuestAccount true) 'disabled' '' }}" >
      <div class="create-function {{tenantFWCode}}"  onclick={{action "createClass"}} onkeypress={{action "createClass"}} >{{t 'create-subject-card.button-message' subjectName=subject.name}}</div>
    </div>
  {{/if}}
</div>
