<div class="panel" tabindex={{tabindex}}>
  <div class="panel-heading">
    <div class="title ellipsis" data-placement="bottom" data-toggle="tooltip" title="{{class.title}}" data-trigger="hover">
      {{truncate text=class.title maxLength=25}}
    </div>
    <div class="class-settings" onclick={{action 'selectItem' 'class-management'}} onkeypress={{action 'selectItem' 'class-management'}} tabindex={{tabindex}} title="{{t 'teacher-landing.class.class-settings.class-settings-sec.class-settings-sec-head'}}" data-toggle="tooltip" data-placement="top" data-trigger="hover">
      {{gru-icon name="settings"}}
    </div>
  </div>

  <div class="panel-body">
    <div class="information {{if course 'has-course' 'has-no-course'}}" onclick={{action 'launchCA'}} onkeypress={{action 'launchCA'}} style="background-image: url({{cardBackgroundImage}})" tabindex={{tabindex}}>
      <div class="current-activity">
        {{#if isPendingSetup}}
          <span>{{t 'class.setup.click-here-to'}}</span>
          {{t 'class.setup.start'}}
        {{else if course}}
          <span>{{t "student-landing.class.assigned-course"}}</span>
        {{else}}
          <!-- <p>{{t "student-landing.class.no-course-assigned"}}</p>
          <p>{{t "goahead.add.something"}}</p> -->
        {{/if}}
      </div>
      {{#if (and (not isPendingSetup) course)}}
        <div class="title-section">
          <div class="title pointer" alt="{{course.title}}">
            {{truncate text=course.title maxLength=90}}
          </div>
        </div>
      {{/if}}
    </div>
    <div class="card-action-container {{if (or isPendingSetup isPremiumClass) 'premium-class'}}">

      <div class="class-activities  {{if (and (not isPremiumClass) (not isPendingSetup)) (concat 'grade-range-' (grade-range class.performanceSummaryForDCA.scoreInPercentage)) 'grade-range-not-started'}}">
        <div class="class-activities-icon" aria-label="class activities" role='link' onclick={{action 'selectItem' 'class-activities'}} onkeypress={{action 'selectItem' 'class-activities'}} data-placement="bottom" data-toggle="tooltip" title="{{t 'student-landing.class.class-activities'}}" data-trigger="hover" tabindex={{tabindex}}>
          <i class="icon" />
        </div>
        {{#if (and (not isPremiumClass) (not isPendingSetup))}}
          <div class="class-activities-score {{if (not hasCAStarted) 'not-started'}}" role='link' aria-label="{{if (not hasCAStarted) 'not started' 'class activities score'}}" tabindex={{tabindex}}  onclick={{action 'selectItem' 'ca-report'}} onkeypress={{action 'selectItem' 'ca-report'}}>
            {{if hasCAStarted (concat class.performanceSummaryForDCA.scoreInPercentage '%') '--' }}
          </div>
        {{/if}}
      </div>

      <div class="course-map {{if (not isPremiumClass) (concat 'grade-range-' (grade-range class.performanceSummary.score)) 'grade-range-not-started'}}">
        <div class="course-map-icon" aria-label="course map" onclick={{action 'selectItem' 'course-map'}} onkeypress={{action 'selectItem' 'course-map'}} data-placement="bottom" data-toggle="tooltip" title="{{t 'teacher-landing.class.learning-journey'}}" data-trigger="hover" tabindex={{tabindex}}>
          {{gru-icon name="sort"}}
        </div>
        {{#if (and (not isPremiumClass) (not isPendingSetup))}}
          <div class="course-map-score {{if (not hasCMStarted) 'not-started'}}" aria-label="{{if (not hasCMStarted) 'not started' 'course map score'}}" onclick={{action 'selectItem' 'cm-report'}}  onkeypress={{action 'selectItem' 'cm-report'}} tabindex={{tabindex}}>
            {{if hasCMStarted (concat class.performanceSummary.score '%') '--' }}
          </div>
        {{/if}}
      </div>
      <div class="student-proficiency" aria-label="student locator" onclick={{action 'selectItem' 'students'}} onkeypress={{action 'selectItem' 'students'}} data-placement="bottom" data-toggle="tooltip" title="{{t 'teacher-landing.class.student-locator'}}" data-trigger="hover" tabindex={{tabindex}}>
        {{gru-icon name="school"}}
      </div>
      <div class="atc-view" aria-label="performance overview" role='link' onclick={{action 'selectItem' 'atc'}} onkeypress={{action 'selectItem' 'atc'}} data-placement="bottom" data-toggle="tooltip" title="{{t 'teacher-landing.class.performance-overview'}}" data-trigger="hover" tabindex={{tabindex}}>
        <i class="icon" />
      </div>

      {{#if (or isPremiumClass isPendingSetup)}}
        <div class="completion-score {{if class.competencyStats 'has-competency-stats'}}">
          {{#if class.competencyStats}}
            <span aria-label="completion score" onclick={{action 'selectItem' 'students'}} onkeypress={{action 'selectItem' 'students'}} tabindex={{tabindex}}>{{plus-any class.competencyStats.completedCompetencies class.competencyStats.masteredCompetencies}}/{{class.competencyStats.totalCompetencies}}</span>
          {{else}}
            <span>--</span>
          {{/if}}
        </div>
      {{/if}}
    </div>

    <div class="card-class-code {{if (and showActiveClasses isDeepLinks) 'active-classes' }}">
    {{#if (and showActiveClasses isDeepLinks) }}

    {{#if class.isCheckBoxChecked}} 
    <i aria-label="selected-card" class="checked-img" tabindex={{tabindex}} onclick={{action "selectSingleBox" class}} onkeypress={{action "selectSingleBox" class}}></i>
    {{else}}
    <span><i aria-label="select-card" class="material-icons add-icon" tabindex={{tabindex}} onclick={{action "selectSingleBox" class}} onkeypress={{action "selectSingleBox" class}}>add</i></span>
    {{/if}}
    {{/if}}
    <div>
    <span>{{t 'teacher-landing.class.class-management-tab.class-code'}}</span>
    <span class="class-code">{{class.code}}</span>
    </div>
    </div>
  </div>
</div>
