<div class="grade-rubric-categories">
  {{#each rubricCategories as | category categoryIndex |}}
    <div class="grade-rubric-category" id="grade-rubric-category-{{categoryIndex}}">
      {{#if category.allowsLevels}}
        <div class="grade-rubric-category-info">
          <p>{{category.title}}</p>
        </div>
      {{/if}}
      <div class="grade-rubric-level-container">
        {{#if category.allowsLevels}}
          <div class="grade-rubric-levels {{unless (and category.allowsLevels category.allowsScoring) 'no-progress'}} {{if category.scoreInPrecentage 'active'}}">
            {{#if category.allowsScoring}}
              {{#each category.levels as |level levelIndex|}}
                <i class="grade-info-popover {{if level.selected 'selected'}}" data-html="true" title="Points: {{level.score}}" data-content="{{level.name}}" data-category={{categoryIndex}} data-level={{levelIndex}}></i>
              {{/each}}
            {{else}}
              {{#each category.levels as |level levelIndex|}}
                <input type="radio" id="{{categoryIndex}}-rubric-catgeory" disabled={{if isReadOnly true false}} name="category-{{categoryIndex}}-level" checked="{{if level.selected 'checked'}}" class="grade-info-popover grade-radio-input {{if level.selected 'selected-level'}}"  data-html="true" data-content="{{level.name}}" data-category={{categoryIndex}} data-level={{levelIndex}}/>
              {{/each}}
            {{/if}}

            {{#if (and category.allowsLevels category.allowsScoring)}}
              <div class="progress-bar" style={{safe-html (concat "background-color:" (grade-color category.scoreInPrecentage) ";width:" category.scoreInPrecentage "%")}}></div>
            {{/if}}
          </div>
        {{else}}
          <div class="grade-rubric-category-info">
            <p>{{category.title}}</p>
          </div>
        {{/if}}
        <div class="grade-clear {{if category.selected 'active'}}" onclick={{action 'unSelectCategoryLevel' category}} onkeypress={{action 'unSelectCategoryLevel' category}} tabindex={{tabindex}}>
          {{gru-icon name="clear"}}
        </div>
        {{#unless isReadOnly}}
          <div class="grade-comment" onclick={{action 'onShowAddCommentBox' categoryIndex}} onkeypress={{action 'onShowAddCommentBox' categoryIndex}} tabindex={{tabindex}}>
            {{gru-icon name="mode_comment"}}
          </div>
        {{/unless}}
      </div>
      <div class="grade-comment-section {{if isReadOnly 'read-only'}}">
        {{#if isReadOnly}}
          <p class="category-comment">{{category.comment}}</p>
        {{else}}
          {{validation/gru-textarea
            model=category
            valuePath='comment'
            maxLength=500
            rows=1
            placeholder='Add Comment'
            title="Add comment"
            tabindex=tabindex
          }}
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>
