<div class="list-view-container">
  <div class="table-fixed-left">
    <table>
      <tbody>
        <tr>
          <th class="tabular-header on-scroll-fixed">
            <div class="header-filters">
              <div class="name-filter">
                <span class="name-header">{{t 'common.name'}}</span>
                <span class="first-header {{if sortByFirstnameEnabled 'active'}}" onclick={{action 'sortByFirstName'}} onkeypress={{action 'sortByFirstName'}} tabindex={{tabindex}}>
                  <span>{{t 'common.first'}}</span>
                {{#if sortByFirstnameEnabled}}
                  {{gru-icon name="keyboard_arrow_up"}}
                {{else}}
                  {{gru-icon name="keyboard_arrow_down"}}
                {{/if}}
                </span>
                <span class="last-header {{if sortByLastnameEnabled 'active'}}" onclick={{action 'sortByLastName'}} onkeypress={{action 'sortByLastName'}} tabindex={{tabindex}}>
                  <span>{{t 'common.last'}}</span>
                {{#if sortByLastnameEnabled}}
                  {{gru-icon name="keyboard_arrow_up"}}
                {{else}}
                  {{gru-icon name="keyboard_arrow_down"}}
                {{/if}}
                </span>
              </div>
              <div class="score {{if sortByScoreEnabled 'active'}}" onclick={{action 'sortByScore'}} onkeypress={{action 'sortByScore'}} tabindex={{tabindex}}>
                <span>{{t 'common.score'}}</span>
                {{#if sortByScoreEnabled}}
                  {{gru-icon name="keyboard_arrow_up"}}
                {{else}}
                  {{gru-icon name="keyboard_arrow_down"}}
                {{/if}}
              </div>
            </div>
          </th>
        </tr>
        {{#each studentReportData as |student|}}
          <tr>
            <th>
              <div class="user-profile-summary">
                <div class="user-profile-details {{unless student.hasStarted 'not-started'}}" onclick={{action 'studentReport' student}}  onkeypress={{action 'studentReport' student}} tabindex={{tabindex}}>
                  <div class="user-profile-img">
                    <img src="{{student.avatarUrl}}" alt="student avatar"/>
                  </div>
                  <div class="username">
                    <span>{{student.lastName}},</span>
                    <span>{{student.firstName}}</span>
                  </div>
                </div>
                <div class="score-details">
                  {{#if student.hasStarted}}
                    <span class="{{concat 'grade-range-text-' (grade-range student.score)}}">{{student.score}}%</span>
                  {{else}}
                    <span>--</span>
                  {{/if}}
                </div>
              </div>
            </th>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="external-assessment-link">
    <div class="note">{{t 'report.external-assessment-report.note'}}</div>
    <div>This external assessment can be accessed <a class="link" target="_blank" href="{{selectedCollection.url}}">here</a></div>
  </div>
</div>
