<div class="table-fixed-left">
  <table>
    <tbody>
      <tr>
        <th class="tabular-header on-scroll-fixed">
          <div class="header-filters">
            <div class="name-filter">
              <span class="name-header">{{t 'common.name'}}</span>
              <span class="first-header {{if sortByFirstnameEnabled 'active'}}" onclick={{action 'sortByFirstName'}} onkeypress={{action 'sortByFirstName'}} tabindex={{tabindex}}>
                <span>{{t 'common.first'}}</span>
              {{#if sortByFirstnameEnabled}}
                {{gru-icon name="keyboard_arrow_up"}}
              {{else}}
                {{gru-icon name="keyboard_arrow_down"}}
              {{/if}}
              </span>
              <span class="last-header {{if sortByLastnameEnabled 'active'}}" onclick={{action 'sortByLastName'}} onkeypress={{action 'sortByLastName'}} tabindex={{tabindex}}>
                <span>{{t 'common.last'}}</span>
              {{#if sortByLastnameEnabled}}
                {{gru-icon name="keyboard_arrow_up"}}
              {{else}}
                {{gru-icon name="keyboard_arrow_down"}}
              {{/if}}
              </span>
            </div>
            {{#if (eq collectionType 'assessment')}}
              <div class="score-timespent {{if sortByScoreEnabled 'active'}}" onclick={{action 'sortByScore'}} onkeypress={{action 'sortByScore'}} tabindex={{tabindex}}>
                <span>{{t 'common.avg-score'}}</span>
                {{#if sortByScoreEnabled}}
                  {{gru-icon name="keyboard_arrow_up"}}
                {{else}}
                  {{gru-icon name="keyboard_arrow_down"}}
                {{/if}}
              </div>
            {{else}}
              <div class="score-timespent {{if sortByTimeSpentEnabled 'active'}}" onclick={{action 'sortByTimeSpent'}} onkeypress={{action 'sortByTimeSpent'}} tabindex={{tabindex}}>
                <span>{{t 'gru-performance-summary.time-spent'}}</span>
                {{#if sortByTimeSpentEnabled}}
                  {{gru-icon name="keyboard_arrow_up"}}
                {{else}}
                  {{gru-icon name="keyboard_arrow_down"}}
                {{/if}}
              </div>
            {{/if}}
          </div>
        </th>
      </tr>
      {{#each studentReportData as |student|}}
      {{#if student.totalTimeSpent}}
        <tr>
          <th>
            <div class="user-profile-summary">
              <div class="user-profile-details {{if isShowMilestoneReport 'disable-event'}} {{unless student.hasStarted 'not-started'}}" onclick={{action 'openStudentLessonReport' student.id}} onkeypress={{action 'openStudentLessonReport' student.id}} tabindex={{tabindex}}>
                <div class="user-profile-img">
                  <img src="{{student.avatarUrl}}" alt="student avatar"/>
                </div>
                <div class="username">
                  <span>{{student.lastName}},</span>
                  <span>{{student.firstName}} {{if (not student.isShowLearnerData) '*'}}</span>
                </div>
              </div>
              <div class="score-details">
                {{#if student.hasStarted}}
                  {{#if (eq collectionType 'assessment')}}
                    <span class="{{concat 'grade-range-text-' (grade-range student.score)}}">{{student.score}}%</span>
                  {{else}}
                    <span>{{format-time student.totalTimeSpent}}</span>
                  {{/if}}
                {{else}}
                  <span>--</span>
                {{/if}}
              </div>
            </div>
          </th>
        </tr>
        {{/if}}
        <tr class="hidden">
          <div class="table-fixed-right">
            <table>
              <tbody>
                <tr>
                  {{#each contents as | content |}}
                    <th class="tabular-header on-scroll-fixed">
                      <div class="content-header {{unless content.performance.hasStarted 'not-started'}}" onclick={{action 'openCollectionReport' content contents}} onkeypress={{action 'openCollectionReport' content contents}} tabindex={{tabindex}}>
                        {{#if (eq collectionType 'assessment')}}
                          <div class="content-icon {{concat 'grade-range-' (grade-range content.performance.score)}}   {{collectionType}} {{content.format}}">
                            <i></i>
                          </div>
                        {{else}}
                          <div class="content-icon {{collectionType}} {{content.format}}">
                            <i></i>
                          </div>
                        {{/if}}
                        <div class="content-title">
                          <p>{{safe-html content.title}}</p>
                        </div>
                      </div>
                    </th>
                  {{/each}}
                </tr>
                <tr>
                  {{#each student.userPerformanceData as |userPerformanceData|}}
                  {{#if userPerformanceData.timeSpent}}
                    <td>
                      <div class="perf-time-container">
                        {{#if isPerformanceFltApplied}}
                          <div class="content-score-value">
                            {{#if userPerformanceData.hasStarted}}
                              <span class="{{concat 'grade-range-text-' (grade-range userPerformanceData.score)}}">{{userPerformanceData.score}}%</span>
                            {{else}}
                              <span>--</span>
                            {{/if}}
                          </div>
                        {{/if}}
                        {{#if isTimeSpentFltApplied}}
                          <div class="timespent-value">
                            {{#if userPerformanceData.timeSpent}}
                              <span>{{format-time userPerformanceData.timeSpent}}</span>
                            {{else}}
                              <span>--</span>
                            {{/if}}
                          </div>
                        {{/if}}
                      </div>
                    </td>
                    {{/if}}
                  {{/each}}
                </tr>
              </tbody>
            </table>
          </div>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div id="table-fixed-right-xs" class="table-fixed-right">
  <table>
    <tbody>
      <tr>
        {{#each contents as | content |}}
          <th class="tabular-header on-scroll-fixed">
            <div class="content-header {{unless content.performance.hasStarted 'not-started'}}" onclick={{action 'openCollectionReport' content contents}} onkeypress={{action 'openCollectionReport' content contents}} tabindex={{tabindex}}>
              {{#if (eq collectionType 'assessment')}}
                <div class="content-icon {{concat 'grade-range-' (grade-range content.performance.score)}} {{collectionType}} {{content.format}}">
                  <i></i>
                </div>
              {{else}}
                <div class="content-icon {{collectionType}} {{content.format}}">
                  <i></i>
                </div>
              {{/if}}
              <div class="content-title">
                <p>{{safe-html content.title}}</p>
              </div>
              <i class="{{content.format}}-icons"></i>
            </div>
          </th>
        {{/each}}
      </tr>
      {{#each studentReportData as |student|}}
        <tr>
          {{#each student.userPerformanceData as |userPerformanceData|}}
          {{#if userPerformanceData.timeSpent}}
            <td>
              <div class="perf-time-container">
                {{#if isPerformanceFltApplied}}
                  <div class="content-score-value">
                    {{#if userPerformanceData.hasStarted}}
                      <span class="{{concat 'grade-range-text-' (grade-range userPerformanceData.score)}}">{{userPerformanceData.score}}%</span>
                    {{else}}
                      <span>--</span>
                    {{/if}}
                  </div>
                {{/if}}
                {{#if isTimeSpentFltApplied}}
                  <div class="timespent-value">
                    {{#if userPerformanceData.timeSpent}}
                      <span>{{format-time userPerformanceData.timeSpent}}</span>
                    {{else}}
                      <span>--</span>
                    {{/if}}
                  </div>
                {{/if}}
              </div>
            </td>
            {{/if}}
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{#if (gt contents.length 2)}}
  <span class="scroll-left-arrow scroll-arrow on-scroll-fixed" {{action 'onClickScrollLeftArrow'}}>
    {{gru-icon name="keyboard_arrow_left"}}
  </span>
  <span class="scroll-right-arrow scroll-arrow on-scroll-fixed" {{action 'onClickScrollRightArrow'}}>
    {{gru-icon name="keyboard_arrow_right"}}
  </span>
{{/if}}
