<div class="iframe-player-container">
  {{#if isLoading}}
    <div class="loading-container">
      <div class="close-player-container">
        <div onclick={{action 'closePlayer'}} onkeypress={{action 'closePlayer'}} data-toggle="tooltip" data-placement="bottom" title="{{t 'common.close'}}" tabIndex={{tabIndex}}>
          {{gru-icon name='ic_close'}}
        </div>
      </div>
      <div class="player-container">
        <div class="loading-panel">
          <div class="loading-content">
            {{#unless (eq playerContent.title 'NA')}}
              <div class="header-panel">
                <div class="icon-container {{playerContent.format}}"></div>
                <div class="title-container">
                  <span class="collection-title">{{playerContent.title}}</span>
                </div>
              </div>
            {{/unless}}
              <div class="body-panel">
                <div class="message">
                  {{t 'player-loadingpage-message'}}
                </div>
                <i class="loading-icon center-block"></i>
              </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
  <div class="iframe-container {{if isLoading '' 'not-loading'}}">
    <iframe id="iframe-player" src="{{rootURL}}{{playerUrl}}"></iframe>
  </div>
</div>
