<div class="backdrop" {{action "onClosePullUp" true}}></div>
<div class="activity-report-container">
  <div class="report-header-container">
    <div class="title-container">
      <div class="report-title">
        {{title}}
      </div>
      {{#if reportPeriod}}
        <div class="report-period">
          {{format-date reportPeriod 'MMMM YYYY'}}
        </div>
      {{/if}}
    </div>
    <div class="close-report" onclick={{action "onClosePullUp"}} onkeypress={{action "onClosePullUp"}} tabindex={{tabindex}}>
      {{gru-icon name="clear"}}
    </div>
  </div>
  <div class="report-body-container">
    {{yield}}
  </div>
</div>
