<div class="list-view-container">
  <div class="table-fixed-left">
    <table>
      <tbody>
        <tr>
          <th class="tabular-header on-scroll-fixed">
            <div class="header-filters">
              <div class="name-filter">
                <span class="name-header">{{t 'common.name'}}</span>
                <span class="first-header {{if sortByFirstnameEnabled 'active'}}" onclick={{action 'sortByFirstName'}} onkeypress={{action 'sortByFirstName'}} tabindex={{tabindex}}>
                  <span>{{t 'common.first'}}</span>
                {{#if sortByFirstnameEnabled}}
                  {{gru-icon name="keyboard_arrow_up"}}
                {{else}}
                  {{gru-icon name="keyboard_arrow_down"}}
                {{/if}}
                </span>
                <span class="last-header {{if sortByLastnameEnabled 'active'}}" onclick={{action 'sortByLastName'}}  onkeypress={{action 'sortByLastName'}} tabindex={{tabindex}}>
                  <span>{{t 'common.last'}}</span>
                {{#if sortByLastnameEnabled}}
                  {{gru-icon name="keyboard_arrow_up"}}
                {{else}}
                  {{gru-icon name="keyboard_arrow_down"}}
                {{/if}}
                </span>
              </div>
              <div class="score {{if sortByScoreEnabled 'active'}}" onclick={{action 'sortByScore'}} onkeypress={{action 'sortByScore'}} tabindex={{tabindex}}>
                <span>{{t 'common.score'}}</span>
                {{#if sortByScoreEnabled}}
                  {{gru-icon name="keyboard_arrow_up"}}
                {{else}}
                  {{gru-icon name="keyboard_arrow_down"}}
                {{/if}}
              </div>
            </div>
          </th>
        </tr>
        {{#each studentReportData as |student|}}
          <tr>
            <th>
              <div class="user-profile-summary">
                <div class="user-profile-details {{unless student.hasStarted 'not-started'}}">
                  <div class="user-profile-img {{if isArchivedClass 'disable-event'}}">
                    {{#if student.selectedForSuggestion}}
                      <div class="selected-user-for-suggestion">
                        {{gru-icon name="done_all"}}
                        <div class="de-select-user" onclick={{action 'onDeSelectUser' student}}  onkeypress={{action 'onDeSelectUser' student}} tabindex={{tabindex}}>
                          {{gru-icon name="close"}}
                        </div>
                      </div>
                    {{/if}}
                    <img alt="student avatar" src="{{student.avatarUrl}}" class="{{if student.selectedForSuggestion 'selected'}}" onclick={{action 'onSelectUser' student}}  onkeypress={{action 'onSelectUser' student}} tabindex={{tabindex}} />
                  </div>
                  <div class="username" onclick={{action 'studentReport' selectedCollection student}} onkeypress={{action 'studentReport' selectedCollection student}} tabindex={{tabindex}}>
                    <span>{{student.lastName}},</span>
                    <span>{{student.firstName}}</span>
                  </div>
                </div>
                <div class="score-details">
                  {{#if student.hasStarted}}
                    <span class="{{concat 'grade-range-text-' (grade-range student.score)}}">{{student.score}}%</span>
                  {{else}}
                    <span>--</span>
                  {{/if}}
                </div>
              </div>
            </th>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="external-assessment-link">
    {{#if isOfflineActivityReport}}
      <div class="note">{{t 'report.offline-activity-report.note'}}</div>
    {{else}}
      <div class="note">{{t 'report.external-assessment-report.note'}}</div>
      <div>This external assessment can be accessed <a class="link" target="_blank" href="{{selectedCollection.url}}">here</a></div>
    {{/if}}
  </div>
</div>

<div class="suggest-bar on-scroll-fixed {{if (gt studentsSelectedForSuggest.length 0) 'active'}}">
  <div class="suggest-bar-container">
    <div class="close-all-suggestion" onclick={{action 'onCloseSuggest'}} onkeypress={{action 'onCloseSuggest'}} tabindex={{tabindex}}>
      {{gru-icon name="close" }}
    </div>
    <div class="no-of-student-selected">
      <span>{{studentsSelectedForSuggest.length}} {{t 'common.student-selected'}}</span>
    </div>
    <div class="suggestion-count-container" onclick={{action 'onOpenSuggestionPullup'}} onkeypress={{action 'onOpenSuggestionPullup'}} tabindex={{tabindex}}>
      <span>{{t 'common.suggestion'}}</span>
      <div class="suggestion-explore">
        {{gru-icon name="explore"}}
        <div class="suggestion-count">{{suggestResultCount}}</div>
      </div>
    </div>
  </div>
</div>

{{#if showSuggestionPullup}}
  {{teacher/suggestion-pull-up
    showPullUp=showSuggestionPullup
    students=studentsSelectedForSuggest
    onCloseSuggest="onCloseSuggest"
    context=contextParams
    onClosePullUp="onClosePullUp"
    collection=collection
    defaultSuggestContentType=defaultSuggestContentType
    class=class
    tabindex=tabindex
  }}
{{/if}}
