<div class="setup-in-complete">
  <div class="setup-in-complete-panel">
    <h2>{{t 'student-landing.class.waiting-establish-skyline'}}</h2>
    <div class="description">
      {{t 'student-landing.class.setup-in-complete-desc1'}} <b>{{t 'student-landing.class.setup-in-complete-desc2'}}</b>. {{t 'student-landing.class.setup-in-complete-desc3'}}
    </div>
    <div class="footer">
      <div class="back" {{action 'back'}}>
        {{t 'common.back'}}
      </div>
    </div>
  </div>
</div>
