<div class="header-container">
  <div class="back" onclick={{action 'goBack'}} onkeypress={{action 'goBack'}} tabindex={{tabindex}}>
    {{gru-icon name="arrow_back"}}
  </div>
  <div class="info-section">
    <div class="profile">
      {{#if (eq type 'library')}}
        <img class="image" src="{{library.image}}" alt="library"/>
        <span class="library-name ellipsis">{{library.shortName}}</span>
      {{else if (eq type 'my-content')}}
        <img class="image" src="{{profile.avatarUrl}}" alt="my-content"/>
        {{#if isMyProfile}}
          <span class="my-content-title">{{t "my-content"}}</span>
        {{else}}
          <span class="my-content-title ellipsis">{{profile.username}}</span>
        {{/if}}
      {{else}}
        <img class="image" src="assets/gooru/images/gooru-logo.svg" alt="gooru-logo"/>
        <span class="my-content-title">{{t "common.gooru-catalog"}}</span>
      {{/if}}
    </div>
    <div class="search-input-section">
      <div class="search-box">
        <form {{action "searchContent" true on="submit"}} tabindex={{tabindex}} class="form-inline">
          {{input type="text" class="form-control search-input"
              value=searchTerm
              placeholder=(if isMobileView (t 'common.search-placeholder-text') (t 'library-search-placeholder'))
              spellcheck="true"
              id="searchInput"
              title="searchInput"
              enter=(action 'searchContent' true)
            }}
        </form>
      </div>
      <div class="filter-items hidden-xs">
        {{#each filters as |selectedFilter index|}}
          {{#unless (eq selectedFilter.filter "flt.fwCode")}}
            <div class="filter-item">
              <span class="name ellipsis" data-toggle="tooltip" data-placement="bottom" title={{selectedFilter.name}}>{{selectedFilter.name}}</span>
              <span class="clear" onclick={{action 'clearFilter' selectedFilter}} onkeypress={{action 'clearFilter' selectedFilter}} tabindex={{tabindex}}> {{gru-icon name="close"}}</span>
            </div>
          {{/unless}}
        {{/each}}
        {{#if moreFilters}}
          <span class="more-pointer">+{{moreFilters.length}}</span>
        {{/if}}
        <div class="more-filters hidden">
          {{#each moreFilters as |moreFilter|}}
            <div class="filter-item">
              <span class="name ellipsis" data-toggle="tooltip" data-placement="bottom" title={{moreFilter.name}}>{{moreFilter.name}}</span>
              <span class="clear" onclick={{action 'clearFilter' moreFilter}} onkeypress={{action 'clearFilter' moreFilter}} tabindex={{tabindex}}> {{gru-icon name="close"}}</span>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <span onclick={{action 'searchFilter' true}}>{{gru-icon name="search"}}</span>
    <span onclick={{action 'toggleSearchFilter'}} onkeypress={{action 'toggleSearchFilter'}} tabindex={{tabindex}} class="filter" data-placement="bottom" data-toggle="tooltip" title={{t 'student-landing.my-performance.filter'}}>{{gru-icon name="filter_list"}}</span>
  </div>
</div>
<div class="filters {{activeContentType}}">
  <div class="hidden visible-xs">
    <div class="filter-items {{unless filters 'hidden'}}">
      {{#each filters as |selectedFilter index|}}
        <div class="filter-item">
          <span class="name ellipsis" data-toggle="tooltip" title={{selectedFilter.name}}>{{selectedFilter.name}}</span>
          <span class="clear" onclick={{action 'clearFilter' selectedFilter}} onkeypress={{action 'clearFilter' selectedFilter}} tabindex={{tabindex}}> {{gru-icon name="close"}}</span>
        </div>
      {{/each}}
      {{#if moreFilters}}
        <span class="more-pointer">+{{moreFilters.length}}</span>
      {{/if}}
      <div class="more-filters hidden">
        {{#each moreFilters as |moreFilter|}}
          <div class="filter-item">
            <span class="name ellipsis" data-toggle="tooltip" title={{moreFilter.name}}>{{moreFilter.name}}</span>
            <span class="clear" onclick={{action 'clearFilter' moreFilter}} onkeypress={{action 'clearFilter' moreFilter}} tabindex={{tabindex}}> {{gru-icon name="close"}}</span>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{search/search-by-filter
    isShow=isShow
    activeContentType=activeContentType
    onFilterApply="searchContent"
    unCheckedItem=unCheckedItem
    selectedFilters=selectedFilters
    selectedSubject=selectedSubject
    tabindex=tabindex
  }}
</div>
<div class="filters-container">
  <span class="title">{{t 'common.filter-by'}}</span>
  <div class="filters" role="menu">
    {{#each filterByList as |filter|}}
      {{#unless isDeepLinks}}
        <li role="menuitem" class="list {{filter.type}} {{if (eq activeContentType filter.type) 'active'}}" aria-label="{{filter.type}}" onclick={{action 'onSelectFilterBy' filter}} onkeypress={{action 'onSelectFilterBy' filter}} tabindex={{tabindex}}>
          <i class="icon"></i>
          <span class="label">{{filter.label}}</span>
        </li>
      {{else}}
        {{#if (and (not-eq filter.type 'course') (not-eq filter.type 'rubric'))}}
          <li role="menuitem" class="list {{filter.type}} {{if (eq activeContentType filter.type) 'active'}}" aria-label="{{filter.type}}" onclick={{action 'onSelectFilterBy' filter}} onkeypress={{action 'onSelectFilterBy' filter}} tabindex={{tabindex}}>
            <i class="icon"></i>
            <span class="label">{{filter.label}}</span>
          </li>
        {{/if}}
      {{/unless}}
    {{/each}}
  </div>
  <div class="actions">
    {{#unless isDeepLinks}}
      {{#if isMyProfile}}
        <div class="{{if isShow 'dropup'}} btn-group col-sm-2" tabindex={{tabindex}} onkeypress={{action 'createDropdown'}}>
          <a href="#" title="create" aria-label="create-dropdown" class="btn btn-primary create-dropdown" data-toggle="dropdown"><span class="create-text">{{t "common.create"}}</span>{{gru-icon name="add" class="symbol"}}</a>
          <a href="#" title="dropdown" aria-label="dropdown-toggle" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li role="menuitem" aria-label="course"><a class="course" href="#" tabindex={{tabindex}} onclick={{action "showModal" "content.modals.gru-course-new"}} onkeypress={{action "showModal" "content.modals.gru-course-new"}}><i></i>{{t "common.course"}}</a></li>
            <li role="menuitem" aria-label="collection"><a class="collection" href="#" tabindex={{tabindex}}  title="collection" onclick={{action "showModal" "content.modals.gru-collection-new"}} onkeypress={{action "showModal" "content.modals.gru-collection-new"}}><i></i>{{t "common.collection"}}</a></li>
            <li role="menuitem" aria-label="external-collection"><a class="collection" href="#" tabindex={{tabindex}} title="external-collection" onclick={{action "showModal" "content.modals.gru-external-collection-new"}} onkeypress={{action "showModal" "content.modals.gru-external-collection-new"}}><i></i>{{t "common.external-collection"}}</a></li>
            <li role="menuitem" aria-label="assessment"><a class="assessment" href="#" title="assessment" tabindex={{tabindex}} onclick={{action "showModal" "content.modals.gru-assessment-new"}} onkeypress={{action "showModal" "content.modals.gru-assessment-new"}}><i></i>{{t "common.assessment"}}</a></li>
            <li role="menuitem" aria-label="external-assessment"><a class="assessment" href="#" title="external-assessment" tabindex={{tabindex}} onclick={{action "showModal" "content.modals.gru-external-assessment-new"}} onkeypress={{action "showModal" "content.modals.gru-external-assessment-new"}}><i></i>{{t "common.external-assessment"}}</a></li>
            <li role="menuitem" aria-label="offline-activity">
              {{#link-to 'content.activity.edit' offlineActivityModel class="offline-activity"}}
                <i></i>{{t "common.offline-activity"}}
              {{/link-to}}
            </li>
            <li role="menuitem" aria-label="resource"><a class="resource" href="#" title="resource" tabindex={{tabindex}} onclick={{action "showModal" "content.modals.gru-resource-new" }} onkeypress={{action "showModal" "content.modals.gru-resource-new" }}><i></i>{{t "common.resource"}}</a></li>
            <li role="menuitem" aria-label="question"><a class="question" href="#" title="question" tabindex={{tabindex}} onclick={{action "showModal" "content.modals.gru-question-new"}} onkeypress={{action "showModal" "content.modals.gru-question-new"}}><i></i>{{t "common.question"}}</a></li>
            <li role="menuitem" aria-label="rubric"><a class="rubric" href="#" title="rubric" tabindex={{tabindex}} onclick={{action "showModal" "content.modals.gru-rubric-new"}} onkeypress={{action "showModal" "content.modals.gru-rubric-new"}}><i></i>{{t "common.rubric"}}</a></li>
          </ul>
        </div>
        {{/if}}
      {{else}}
        <div class="deep-link-container">
          <input type="checkbox" aria-checked="false" aria-label="checkbox" id="checkAll" class="select-all" name="selectall" tabindex={{tabindex}} onclick={{action "selectBox"}} onkeypress={{action "selectBox"}} /> <span>{{t 'common.select-all'}}</span>
          <button type="submit" aria-label="submit" class="btn btn-primary {{unless (and selectedCount (not-eq selectedCount 0)) 'disable-event'}}" tabindex={{tabindex}} {{action "onSubmit"}}>{{t 'common.submit'}} {{#if (and selectedCount (not-eq selectedCount 0))}} ({{selectedCount}}) {{/if}}</button>
        </div>
      {{/unless}}
  </div>
</div>
{{#if (or (eq activeContentType 'question') (eq activeContentType 'resource'))}}
  <div class="sub-filters-container">
    <span class="title">{{t 'common.sub-filter'}}</span>
    <div class="filters">
      {{#if (eq activeContentType 'resource')}}
        {{ search/gru-resource-options
         selectedOptionTypes=selectedResourceTypes
         onSelectedOption="selectResourceOption"
         tabindex=tabindex
       }}
      {{else}}
        {{ search/gru-question-options
           selectedOptionTypes=selectedQuestionTypes
           onSelectedOption="selectQuestionOption"
           tabindex=tabindex
        }}
      {{/if}}
    </div>
  </div>
{{/if}}
