<div class="logout-container" style="display:none">
  <div class="logout-home-hero-update">
    <h1 class='hero-head'> <strong>
        {{t 'common.logout.head_1' }} <br />
        {{t 'common.logout.head_2' }} <br />
        {{t 'common.logout.head_3' }}
      </strong></h1>
    <br />
    <h2 class='hero-desc'> {{t 'common.logout.description'}} </h2>
    <div class="home-btn lo1-button" {{action 'navigateLogout'}}>
      <span class='loginbtn1'> {{ t 'common.logout.logout-btn-msg1'}}</span>
      <br>
      <strong class='loginbtn2'>{{ t 'common.logout.logout-btn-msg2'}} </strong> </div>
  </div>
</div>