<div class="add-content-card-container" role="link" aria-label={{content.title}}>
  <div class="content-info-container {{if isShowTaxonomyTag 'has-competency-code'}} {{if primaryClass.isArchived 'archived-class'}}">
    <div class="content-thumbnail" style="background-image: url({{content.thumbnailUrl}})" onclick={{action "onShowContentPreview"}}  onkeypress={{action "onShowContentPreview"}} tabindex={{tabindex}}></div>
    <div class="content-title">
      <div class="title" onkeypress={{action "onShowContentPreview"}}  onclick={{action "onShowContentPreview"}} tabindex={{tabindex}}>{{content.title}}</div>
      <div class="content-counts">
        {{#if isOfflineActivity}}
          <div class="task-count content-count">
            <span class="content-value">{{content.taskCount}}</span>
            <span class="content-icon">{{t 'common.tasks'}}</span>
          </div>
        {{else}}
          {{#if (eq contentType 'collection-external')}}
            {{t 'common.external-collection'}}
          {{else if (eq contentType 'assessment-external')}}
            {{t 'common.external-assessment'}}
          {{else}}
            <div class="resource-count content-count {{if isAssessment 'hidden'}}">
              <span class="content-value">{{content.resourceCount}}</span>
              <span class="content-icon">{{t 'common.resources'}}</span>
            </div>
            <div class="question-count content-count">
              <span class="content-value">{{content.questionCount}}</span>
              <span class="content-icon">{{t 'common.questions'}}</span>
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
    {{#if (or (eq contentType 'assessment-external') (eq contentType 'collection-external'))}}
      <i class="{{contentType}}-icons"></i>
    {{/if}}
    {{#if isShowTaxonomyTag}}
      <div class="taxonomy-container">
        {{#if taxonomyTags.length}}
          {{taxonomy/gru-taxonomy-tag-list tags=taxonomyTags tagsVisible=1  tabindex=tabindex}}
        {{/if}}
      </div>
    {{/if}}
    <div class="schedule-activity {{if content.isScheduled 'scheduled'}} {{if isInstructionalCoache 'disabled'}}"  role="link" aria-label="add activity" title="{{if isEmptyContent (t (concat "class-activity." contentType "-disable-scheduling-message")) (t 'common.schedule')}}" data-toggle="tooltip" data-placement="bottom"
      onclick={{action "onShowDaterangePicker" content.id}} onkeypress={{action "onShowDaterangePicker" content.id}}  tabindex={{tabindex}}>
      {{gru-icon name="add"}}
    </div>
  </div>
</div>

{{#if isShowDaterangePicker}}
  <div class="ca-datepicker-schedule-container ca-datepicker-popover-container">
    {{ca-daterange-datepicker
      closeDatePicker='onCloseDaterangePicker'
      onScheduleForDate='onScheduleByDate'
      onScheduleForMonth='onScheduleByMonth'
      endDate=endDate
      enableVideoConference=enableVideoConference
      allowTwoDateRangePicker=allowTwoDateRangePicker
      activitiesList = activitiesList
      activityId = activityId
      primaryClass = primaryClass
      selectedClassActivity = content
      tabindex=tabindex
    }}
  </div>
{{/if}}
